Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# Rewrite Index
	#RewriteCond %{THE_REQUEST} ^.*/index\.php 
	#RewriteRule ^(.*)index.php$ / [R=301,L]

	#Block users directed by these sites
	#RewriteCond %{HTTP_REFERER} scumbag\.com [NC,OR]
	#RewriteCond %{HTTP_REFERER} wormhole\.com [NC,OR]
	#RewriteRule .* - [F]

	# Remove www
	RewriteCond %{HTTP_HOST} ^www\.mytwittercrush\.com$ [NC]
	RewriteRule ^(.*)$ http://mytwittercrush.com/$1 [R=301,L]
</IfModule>

# Block direct access to Ini files
<Files *.ini>
	Order deny,allow
	Deny from all
</Files>

# Block direct access to hidden files
<Files .*>
	Order deny,allow
	Deny from all
</Files>

# Error Pages
#ErrorDocument 401 /errors/401.html
#ErrorDocument 403 /errors/403.html
#ErrorDocument 404 /errors/404.html
#ErrorDocument 500 /errors/500.html
