
.animated {
  @include animation-duration(0.3s);
  @include animation-fill-mode(both);
  @include animation-timing-function($curve-anim);
}

.cssanimations {
  .fadeIn,
  .fadeInUp,
  .fadeInDown {
    opacity: 0;
  }
  #submit-tweet {
    opacity: 0;
    &.flyOff {
      opacity: 1;
    }
  } 
}

.fadeIn {
  @include animation-name(fadeIn);
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInDown {
  @include animation-name(fadeInDown);
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}

.fadeInUp {
  @include animation-name(fadeInUp);
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include translate3d(0, 35%, 0);
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}

.fadeOut {
  @include animation-name(fadeOut);
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutDown {
  @include animation-name(fadeOutDown);
}

@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include translate3d(0, 35%, 0);
  }
}

.fadeOutUp {
  @include animation-name(fadeOutUp);
}

@include keyframes(fadeOutUp) {
 0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include translate3d(0, -35%, 0);
  }
}

.typed-cursor {
    @include animation-name(blink);
    @include animation-duration(0.7s);
    @include animation-iteration-count(infinite);
    opacity: 1;
}

@include keyframes(blink) {
  0% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
}

.spinFly {
  @include animation-name(spinFly);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
}

@include keyframes(spinFly) {
  0% {
    @include rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    @include rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.flyOff {
  @include animation-name(flyOff);
  @include animation-duration(0.6s);
  @include animation-fill-mode(both);
  @include animation-timing-function(ease);
  opacity: 1;
}

@include keyframes(flyOff) {
  0% {
    @include translate3d(0, 0, 0);
  }
  100% {
    @include translate3d(1000%, 0, 0);
  }
}
