html, body {
	background: $white;
	color: $hot-pink;
	font-family: $special-font;
	font-weight: 400;
	line-height: 1.4;
	font-smooth: always;
  	-webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $special-font;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
}

p {
	margin-bottom: 1.25em;
}

strong {
	font-weight: 700;
}

.wa-hidden {
	@include wa-hide();
}

.page-border {
	position: fixed;
	background: $white;
	&.top {
		top: 0;
		left: 0;
		right: 0;
		height: 10px;
		height: 2vw;
		@include respond-to(m) {
			height: 1vw;
		}
		@include respond-to(l) {
			height: 1vw;
		}
		@include respond-to(xl) {
			height: 1vw;
		}
	}
	&.right {
		top: 0;
		bottom: 0;
		right: 0;
		width: 10px;
		width: 2vw;
		@include respond-to(m) {
			width: 1vw;
		}
		@include respond-to(l) {
			width: 1vw;
		}
		@include respond-to(xl) {
			width: 1vw;
		}
	}
	&.bottom {
		bottom: 0;
		left: 0;
		right: 0;
		height: 10px;
		height: 2vw;
		@include respond-to(m) {
			height: 1vw;
		}
		@include respond-to(l) {
			height: 1vw;
		}
		@include respond-to(xl) {
			height: 1vw;
		}
	}
	&.left {
		top: 0;
		bottom: 0;
		left: 0;
		width: 10px;
		width: 2vw;
		@include respond-to(m) {
			width: 1vw;
		}
		@include respond-to(l) {
			width: 1vw;
		}
		@include respond-to(xl) {
			width: 1vw;
		}
	}
}

.scroll-btn {
	@include transition(all 0.15s $curve-anim);
	background: $hot-pink;
	color: $white;
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 30px;
	bottom: 6vh;
	left: 50%;
	z-index: 999;
	margin-left: -12px;
	display: block;
	text-decoration: none;
	border-radius: 12px;
	@include respond-to(m) {
		width: 32px;
		height: 32px;
		border-radius: 16px;
	}
	&:hover {
		background: $baby-blue;
	}
	&:before {
		content: '';
		position: absolute;
		left: 8px;
		top: 10px;
		width: 0; 
		height: 0; 
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 6px solid $white;
		@include respond-to(m) {
			left: 10px;
			top: 13px;
			border-left-width: 6px;
			border-right-width: 6px;
			border-top-width: 8px;
		}
	}
	&.up {
		&:before {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: none;
			border-bottom: 6px solid $white;
			@include respond-to(m) {
				top: 11px;
				border-left-width: 6px;
				border-right-width: 6px;
				border-bottom-width: 8px;
			}
		}
	}
}

.section {
	background-color: $light-pink;
	text-align: center;
	.page {
		width: 86%;
		width: 86vw;
		margin: auto;
		@include respond-to(s) {
		
		}
		@include respond-to(m) {
			padding-bottom: 60px;
		}
		@include respond-to(l) {
			
		}
		@include respond-to(xl) {
		
		}
	}
}

.heading {
	font-size: 24px;
	margin-bottom: 4px;
	@include respond-to(m) {
		font-size: 52px;
	}
	@include respond-to(l) {
		font-size: 62px;
	}
	@include respond-to(xl) {
		font-size: 62px;
	}
	@include respond-to(xxl) {
		font-size: 72px;
	}
}

.sub-heading {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 4px;
	@include respond-to(m) {
		font-size: 24px;
		margin-bottom: 10px;
	}
	@include respond-to(l) {
		font-size: 30px;
	}
	@include respond-to(xl) {
		font-size: 30px;
	}
	@include respond-to(xxl) {
		font-size: 34px;
	}
}

.intro-page {
	h3 {
		font-size: 12px;
		font-weight: 400;
		@include respond-to(m) {
			font-size: 17px;
			font-weight: 300;
		}
		@include respond-to(l) {
			font-size: 22px;
		}
		@include respond-to(xl) {
			
		}
	}
	.artwork {
		width: 80%;
		margin: 0 auto 16px;
		text-align: center;
		@include respond-to(s) {
			
		}
  		@include respond-to(m) {
  			margin-bottom: 0;
  			max-width: 600px;
			max-width: 70vw;
		}
		@include respond-to(l) {
			max-width: 85vh;
		}
		@include respond-to(xl) {
			max-width: 100vh;
		}
		img {
			display: block;
			width: 100%;
			max-width: 65vh;
			margin: 0 auto;
			height: auto;
			@include respond-to(s) {
			
			}
	  		@include respond-to(m) {
				max-width: none;
			}
			@include respond-to(l) {
				
			}
			@include respond-to(xl) {
			
			}
		}
	}
}

.send-page {
	text-align: center;
	.page {
		width: 60%;
		max-width: 570px;
		position: relative;
		z-index: 9;
	}
	.form-control {
		position: relative;
		margin: 0 auto;
		clear: both;
		#tweet-target,
		#tweet-message {
			font-family: $special-font;
			background: $white;
			position: relative;
			z-index: 5;
			border: none;
			width: 100%;
			padding: 20px;
			font-size: 22px;
			&:focus {
				outline: none;
			}
		}
		#tweet-target {
			height: 70px;
			padding-left: 50px;
			margin-bottom: 2px;
		}
		.form-prepend {
			color: $hot-pink;
			position: absolute;
			z-index: 6;
			top: 18px;
			left: 5px;
			height: 50px;
			width: 50px;
			text-align: center;
			font-size: 24px;
			font-weight: 700;
			padding: 2px 0 0 0;	
		}
	}
	#char-count {
		background: $hot-pink;
		color: $white;
		margin-top: 2px;
		padding: 5px;
	}
	#submit-tweet {
		font-family: $special-font;
		color: $hot-pink;
		font-size: 26px;
		font-weight: 400;
		background: transparent url(../img/arrow-170x32.svg) 50% 100% no-repeat;
		border: none;
		display: inline-block;
		width: 170px;
		padding: 0 0 38px;
		margin-top: 30px;
		text-decoration: none;
		&:focus {
			outline: none;
		}
	}
	.delay-time {
		display: none;
	}
}

.no-svg {
	.send-page {
		#submit-tweet {
			background: transparent url(../img/arrow-170x32.png) 50% 100% no-repeat;
		}
	}
}

.tweet-hearts {
  	position: absolute;
  	z-index: 8;
  	width: 100%;
  	height: 100%;
  	top: 0;
	.tweet {
		background: url(../img/heart-180x164.svg) 0 0 no-repeat;
		background-size: contain;
		position: absolute;
		width: 10%;
		height: 0;
		max-width: 180px;
		padding-bottom: 9%;
		&.a {
			top: 15%;
			left: 8%;
		}
		&.b {
			top: 7%;
			left: 50%;
		}
		&.c {
			top: 22%;
			left: 78%;
		}
		&.d {
			bottom: 10%;
			left: 4%;
		}
		&.e {
			bottom: 6%;
			left: 62%;
		}
		&.f {
			top: 60%;
			left: 82%;
		}
		&.g {
			top: 58%;
			left: 22%;
		}
	}
}

.no-svg {
	.tweet-hearts {
		.tweet {
			background: url(../img/heart-96x96.png) 0 0 no-repeat;
			width: 96px;
			height: 96px;
		}
	}
}

.share-page {
	.page {
		padding-bottom: 80px;
		@include respond-to(s) {
			
		}
  		@include respond-to(m) {
			padding-bottom: 24vh;
		}
		@include respond-to(l) {
			
		}
		@include respond-to(xl) {
		
		}
	}
	.heading {
		background: $white;
		display: inline-block;
		margin-bottom: 62px;
		padding: 15px 35px;
		position: relative;
		&:before {
			position: absolute;
	  		z-index: 4;
	  		left: -38px;
	  		bottom: -59px;
	  		content: '';
	  		width: 71px;
	  		height: 90px;
	  		background: url(../img/banner-ribbon-left.svg) 0 0 no-repeat;
	  		background-size: contain;
		}
		&:after {
			position: absolute;
	  		z-index: 4;
	  		right: -38px;
	  		bottom: -59px;
	  		content: '';
	  		width: 71px;
	  		height: 90px;
	  		background: url(../img/banner-ribbon-right.svg) 0 0 no-repeat;
	  		background-size: contain;
		}
	}
	.sub-heading {
		margin-bottom: 16px;
		line-height: 1.4;
	}
	.artwork {
		position: absolute;
		bottom: 0;
		bottom: 1.5vw; // matches the bottom border
		left: 20%;
		right: 23%;
		@include respond-to(s) {
			
		}
  		@include respond-to(m) {
			bottom: 0.5vh;
		}
		@include respond-to(l) {
			bottom: 1vh;
		}
		@include respond-to(xl) {
		
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			max-height: 30vh;
			margin: 0 auto;
			@include respond-to(s) {
			
			}
	  		@include respond-to(m) {
				
			}
			@include respond-to(l) {
				max-height: 35vh;
			}
			@include respond-to(xl) {
			
			}
		}
	}
	.share {
		font-size: 22px;
		font-weight: 300;
	}
	.share-btn {
		@include transition(all 0.15s $curve-anim);
		color: $white;
		background-color: $hot-pink;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		border: 0 none;
		position: relative;
		display: inline-block;
		text-decoration: none;
		margin: 4px;
		padding: 0;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		&:hover {
			background-color: $baby-blue;
		}
		&:focus {
			outline: none;
		}
		@include respond-to(m) {
			width: 48px;
			height: 48px;
			border-radius: 24px;
		}
	}
	.fb-btn {
		background-image: url(../img/facebook-icon-24x24.svg);
		background-size: 18px 18px;
		@include respond-to(m) {
			background-size: 22px 22px;
		}
	}
	.tw-btn {
		background-image: url(../img/twitter-icon-24x24.svg);
		background-size: 18px 18px;
		@include respond-to(m) {
			background-size: 22px 22px;
		}
	}
	.gp-btn {
		background-image: url(../img/google-icon-24x24.svg);
		background-size: 18px 18px;
		@include respond-to(m) {
			background-size: 22px 22px;
		}
	}
}

.no-svg {
	.share-page {
		.heading {
			margin-bottom: 95px;
			&:before {
		  		left: -68px;
		  		bottom: -102px;
		  		width: 127px;
		  		height: 158px;
		  		background: url(../img/banner-ribbon-left.png) 0 0 no-repeat;
			}
			&:after {
		  		right: -68px;
		  		bottom: -102px;
		  		width: 127px;
		  		height: 158px;
		  		background: url(../img/banner-ribbon-right.png) 0 0 no-repeat;
			}
		}
		.fb-btn {
			background-image: url(../img/facebook-icon-24x24.png);
		}
		.tw-btn {
			background-image: url(../img/twitter-icon-24x24.png);
		}
		.gp-btn {
			background-image: url(../img/google-icon-24x24.png);
		}
		.artwork {
			img {
				width: auto;
				max-width: 30%;
			}
		}
	}
}

.info-page {
	background: $white;
	text-align: center;
	.copy {
		width: 90%;
		margin: auto;
		font-size: 12px;
		@include respond-to(m) {
			font-size: 21px;
		}
		@include respond-to(l) {
			width: 70%;
			font-size: 21px;
		}
		@include respond-to(xl) {
			font-size: 21px;
		}
	}
	.logos {
		img {
			vertical-align: middle;
			margin: 0 20px 20px;
			&.us {
				max-width: 50px;
				height: auto;
				@include respond-to(l) {
					max-width: 100%;
				}
			}
			&.savethechildren {
				max-width: 180px;
  				height: auto;
  				@include respond-to(l) {
					max-width: 100%;
				}
			}
		}
	}
}

.page-break {
	@include box-sizing(content-box);
	background: url(../img/page-break.svg) 50% 0 repeat-x;
	background-size: 227px 49px;
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	height: 49px;
	border-bottom: 10px solid $white;
	border-bottom: 1vw solid $white; // For the bottom page border
}

.no-svg {
	.page-break {
		background: url(../img/page-break.png) 50% 0 repeat-x;
	}
}

// Slimscroll plugin
.slimScrollBar,
.slimScrollRail {
	border-radius: 0 !important;
	background: $black !important;
	opacity: 1 !important;
	top: 0 !important;
	right: 0 !important;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default, .odometer-pre {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  line-height: 1.1em;
}
