// SET UP YOUR VARIABLES IN THIS FILE

// Colours
// ------------------------------------------------------------

$white 			: #fff;
$red-black 		: #040201;
$mid-gray  		: #666;
$hot-pink 		: #E71840;
$dark-pink   	: #BB1132;
$light-pink    	: #FFC5C5;
$baby-blue 		: #3EA5BB;

$normal-font 	: Arial, sans-serif;
$special-font 	: "europa", sans-serif;
