// SET UP YOUR VARIABLES IN THIS FILE

// Colours
// ------------------------------------------------------------

$white 			: #fff;
$black 			: #040201;
$purple 		: rgb(147, 22, 88);
$mid-grey  		: #666;
$hot-pink 		: #F2206C;
$dark-pink   	: #BB1132;
$mid-pink 		: #FF4949;
$light-pink    	: #FFC5C5;
$baby-blue 		: #5FACF9;
$blue-grey      : #A1A7B2;

$normal-font 	: Arial, sans-serif;
$special-font 	: 'europa', sans-serif;

$curve-anim		: cubic-bezier(0.055, 0.340, 0.090, 0.820);

// Responsive mixin in _mixin.scss
$breakpoints: (
	's' 	: 480px,
	'm' 	: 768px,
	'l'  	: 1024px,
	'xl' 	: 1280px,
	'xxl' 	: 1440px
);