// SET UP YOUR VARIABLES IN THIS FILE

// Colours
// ------------------------------------------------------------

$white 			: #fff;
$black 			: #040201;
$purple 		: rgb(147, 22, 88);
//$purple 	   	: #BB1132;
$mid-grey  		: #666;
$hot-pink 		: #E71840;
$dark-pink   	: #BB1132;
$mid-pink 		: #FF4949;
$light-pink    	: #FFC5C5;
$baby-blue 		: #3EA5BB;
$blue-grey      : #A1A7B2;

$normal-font 	: Arial, sans-serif;
$special-font 	: "europa", sans-serif;