/* line 4, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*!
 * fullPage 2.4.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
/* line 10, ../sass/_fullpage.scss */
#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

/* line 19, ../sass/_fullpage.scss */
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

/* line 26, ../sass/_fullpage.scss */
.fp-slide {
  float: left;
}

/* line 30, ../sass/_fullpage.scss */
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

/* line 35, ../sass/_fullpage.scss */
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

/* line 44, ../sass/_fullpage.scss */
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 50, ../sass/_fullpage.scss */
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 2vw;
  position: relative;
}

/* line 59, ../sass/_fullpage.scss */
.fp-slidesContainer {
  float: left;
  position: relative;
}

/* line 64, ../sass/_fullpage.scss */
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}

/* line 75, ../sass/_fullpage.scss */
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

/* line 82, ../sass/_fullpage.scss */
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

/* line 88, ../sass/_fullpage.scss */
.fp-scrollable {
  overflow: scroll;
}

/* line 92, ../sass/_fullpage.scss */
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* line 97, ../sass/_fullpage.scss */
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  display: none;
}
@media (min-width: 768px) {
  /* line 97, ../sass/_fullpage.scss */
  #fp-nav {
    display: block;
  }
}

/* line 109, ../sass/_fullpage.scss */
#fp-nav.right {
  right: 50px;
  right: 3vw;
}
@media (min-width: 768px) {
  /* line 109, ../sass/_fullpage.scss */
  #fp-nav.right {
    right: 3vw;
  }
}
@media (min-width: 1024px) {
  /* line 109, ../sass/_fullpage.scss */
  #fp-nav.right {
    right: 3vw;
  }
}

/* line 123, ../sass/_fullpage.scss */
#fp-nav.left {
  left: 50px;
  left: 3vw;
}
@media (min-width: 768px) {
  /* line 123, ../sass/_fullpage.scss */
  #fp-nav.left {
    left: 3vw;
  }
}
@media (min-width: 1024px) {
  /* line 123, ../sass/_fullpage.scss */
  #fp-nav.left {
    left: 3vw;
  }
}

/* line 137, ../sass/_fullpage.scss */
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

/* line 144, ../sass/_fullpage.scss */
.fp-slidesNav.bottom {
  bottom: 30px;
}

/* line 148, ../sass/_fullpage.scss */
.fp-slidesNav.top {
  top: 30px;
}

/* line 152, ../sass/_fullpage.scss */
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

/* line 158, ../sass/_fullpage.scss */
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 18px;
  height: 18px;
  margin: 4px 0;
  position: relative;
}

/* line 167, ../sass/_fullpage.scss */
.fp-slidesNav ul li {
  display: inline-block;
}

/* line 171, ../sass/_fullpage.scss */
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
/* line 181, ../sass/_fullpage.scss */
#fp-nav ul li a:hover span,
.fp-slidesNav ul li a:hover span {
  background: #874789;
}

/* line 187, ../sass/_fullpage.scss */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  -moz-transition: all 0.15s cubic-bezier(0.055, 0.34, 0.09, 0.82);
  -o-transition: all 0.15s cubic-bezier(0.055, 0.34, 0.09, 0.82);
  -webkit-transition: all 0.15s cubic-bezier(0.055, 0.34, 0.09, 0.82);
  transition: all 0.15s cubic-bezier(0.055, 0.34, 0.09, 0.82);
  background: #f2206c;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
}

/* line 200, ../sass/_fullpage.scss */
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: white;
}

/* line 205, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip {
  color: #931658;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}

/* line 220, ../sass/_fullpage.scss */
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

/* line 227, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip.right {
  right: 27px;
}

/* line 231, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip.left {
  left: 30px;
}

/* line 2, ../sass/_animate.scss */
.animated {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
  -webkit-animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
  animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
}

/* line 9, ../sass/_animate.scss */
.cssanimations .fadeIn,
.cssanimations .fadeInUp,
.cssanimations .fadeInDown {
  opacity: 0;
}
/* line 14, ../sass/_animate.scss */
.cssanimations #submit-tweet {
  opacity: 0;
}
/* line 16, ../sass/_animate.scss */
.cssanimations #submit-tweet.flyOff {
  opacity: 1;
}

/* line 22, ../sass/_animate.scss */
.fadeIn {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-moz-keyframes fadeIn {
  /* line 27, ../sass/_animate.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* line 27, ../sass/_animate.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  /* line 27, ../sass/_animate.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
/* line 35, ../sass/_animate.scss */
.fadeInDown {
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-moz-keyframes fadeInDown {
  /* line 40, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }

  /* line 44, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  /* line 40, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }

  /* line 44, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  /* line 40, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }

  /* line 44, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 50, ../sass/_animate.scss */
.fadeInUp {
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-moz-keyframes fadeInUp {
  /* line 55, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }

  /* line 59, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  /* line 55, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }

  /* line 59, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  /* line 55, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }

  /* line 59, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 65, ../sass/_animate.scss */
.fadeOut {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-moz-keyframes fadeOut {
  /* line 70, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 73, ../sass/_animate.scss */
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  /* line 70, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 73, ../sass/_animate.scss */
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  /* line 70, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 73, ../sass/_animate.scss */
  100% {
    opacity: 0;
  }
}
/* line 78, ../sass/_animate.scss */
.fadeOutDown {
  -moz-animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-moz-keyframes fadeOutDown {
  /* line 83, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 86, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  /* line 83, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 86, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
@keyframes fadeOutDown {
  /* line 83, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 86, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
/* line 92, ../sass/_animate.scss */
.fadeOutUp {
  -moz-animation-name: fadeOutUp;
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-moz-keyframes fadeOutUp {
  /* line 97, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 100, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  /* line 97, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 100, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
@keyframes fadeOutUp {
  /* line 97, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 100, ../sass/_animate.scss */
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
/* line 106, ../sass/_animate.scss */
.typed-cursor {
  -moz-animation-name: blink;
  -webkit-animation-name: blink;
  animation-name: blink;
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 1;
}

@-moz-keyframes blink {
  /* line 114, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 117, ../sass/_animate.scss */
  50% {
    opacity: 0;
  }

  /* line 120, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  /* line 114, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 117, ../sass/_animate.scss */
  50% {
    opacity: 0;
  }

  /* line 120, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  /* line 114, ../sass/_animate.scss */
  0% {
    opacity: 1;
  }

  /* line 117, ../sass/_animate.scss */
  50% {
    opacity: 0;
  }

  /* line 120, ../sass/_animate.scss */
  100% {
    opacity: 1;
  }
}
/* line 125, ../sass/_animate.scss */
.spinFly {
  -moz-animation-name: spinFly;
  -webkit-animation-name: spinFly;
  animation-name: spinFly;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes spinFly {
  /* line 134, ../sass/_animate.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /* line 138, ../sass/_animate.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinFly {
  /* line 134, ../sass/_animate.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /* line 138, ../sass/_animate.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinFly {
  /* line 134, ../sass/_animate.scss */
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /* line 138, ../sass/_animate.scss */
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/* line 144, ../sass/_animate.scss */
.flyOff {
  -moz-animation-name: flyOff;
  -webkit-animation-name: flyOff;
  animation-name: flyOff;
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  opacity: 1;
}

@-moz-keyframes flyOff {
  /* line 153, ../sass/_animate.scss */
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 156, ../sass/_animate.scss */
  100% {
    -moz-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
@-webkit-keyframes flyOff {
  /* line 153, ../sass/_animate.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 156, ../sass/_animate.scss */
  100% {
    -webkit-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
@keyframes flyOff {
  /* line 153, ../sass/_animate.scss */
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 156, ../sass/_animate.scss */
  100% {
    -moz-transform: translate3d(1000%, 0, 0);
    -webkit-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
/* line 1, ../sass/_admin.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/_admin.scss */
html, body {
  background: white;
  color: #040201;
  font-family: "europa", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../sass/_admin.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "europa", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
}

/* line 24, ../sass/_admin.scss */
strong {
  font-weight: 700;
}

/* line 28, ../sass/_admin.scss */
.wa-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 32, ../sass/_admin.scss */
#container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 1em;
}

/* line 39, ../sass/_admin.scss */
#main-navigation {
  width: 200px;
  height: 100%;
  float: left;
  padding: 1em;
  border-right: 1px solid #a1a7b2;
}
/* line 45, ../sass/_admin.scss */
#main-navigation ul {
  list-style: none;
}

/* line 50, ../sass/_admin.scss */
#messages {
  padding: 1em;
  margin-bottom: 1em;
  background: #874789;
}

/* line 65, ../sass/_admin.scss */
#main-section {
  margin-left: 200px;
  padding: 1em;
  height: 100%;
  overflow: auto;
}
/* line 71, ../sass/_admin.scss */
#main-section #content #main-header {
  overflow: auto;
  margin-bottom: 1em;
}
/* line 74, ../sass/_admin.scss */
#main-section #content #main-header h1 {
  font-size: 2em;
  border-bottom: 1px solid #a1a7b2;
  margin-bottom: 0.5em;
}
/* line 80, ../sass/_admin.scss */
#main-section #content .col {
  float: left;
  width: 49%;
  margin-left: 1%;
}
/* line 84, ../sass/_admin.scss */
#main-section #content .col:first-of-type {
  margin-left: 0;
  margin-right: 1%;
}
/* line 88, ../sass/_admin.scss */
#main-section #content .col .overview {
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #a1a7b2;
}
/* line 95, ../sass/_admin.scss */
#main-section #content .title {
  margin-bottom: 0.5em;
}
/* line 98, ../sass/_admin.scss */
#main-section #content table {
  width: 100%;
}
/* line 100, ../sass/_admin.scss */
#main-section #content table thead {
  background: #a1a7b2;
}
/* line 103, ../sass/_admin.scss */
#main-section #content table th, #main-section #content table td {
  padding: 0 0.5em;
  border: 1px solid white;
}
/* line 108, ../sass/_admin.scss */
#main-section #content table td.index {
  color: #874789;
  cursor: help;
}

/* line 118, ../sass/_admin.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
