/* line 4, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*!
 * fullPage 2.4.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
/* line 10, ../sass/_fullpage.scss */
#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

/* line 19, ../sass/_fullpage.scss */
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

/* line 26, ../sass/_fullpage.scss */
.fp-slide {
  float: left;
}

/* line 30, ../sass/_fullpage.scss */
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

/* line 35, ../sass/_fullpage.scss */
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

/* line 44, ../sass/_fullpage.scss */
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 50, ../sass/_fullpage.scss */
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 2vw;
  position: relative;
}

/* line 59, ../sass/_fullpage.scss */
.fp-slidesContainer {
  float: left;
  position: relative;
}

/* line 64, ../sass/_fullpage.scss */
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}

/* line 75, ../sass/_fullpage.scss */
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

/* line 82, ../sass/_fullpage.scss */
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

/* line 88, ../sass/_fullpage.scss */
.fp-scrollable {
  overflow: scroll;
}

/* line 92, ../sass/_fullpage.scss */
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* line 97, ../sass/_fullpage.scss */
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  display: none;
}
@media (min-width: 768px) {
  /* line 97, ../sass/_fullpage.scss */
  #fp-nav {
    display: block;
  }
}

/* line 109, ../sass/_fullpage.scss */
#fp-nav.right {
  right: 50px;
  right: 3vw;
}
@media (min-width: 768px) {
  /* line 109, ../sass/_fullpage.scss */
  #fp-nav.right {
    right: 3vw;
  }
}
@media (min-width: 1024px) {
  /* line 109, ../sass/_fullpage.scss */
  #fp-nav.right {
    right: 3vw;
  }
}

/* line 123, ../sass/_fullpage.scss */
#fp-nav.left {
  left: 50px;
  left: 3vw;
}
@media (min-width: 768px) {
  /* line 123, ../sass/_fullpage.scss */
  #fp-nav.left {
    left: 3vw;
  }
}
@media (min-width: 1024px) {
  /* line 123, ../sass/_fullpage.scss */
  #fp-nav.left {
    left: 3vw;
  }
}

/* line 137, ../sass/_fullpage.scss */
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

/* line 144, ../sass/_fullpage.scss */
.fp-slidesNav.bottom {
  bottom: 30px;
}

/* line 148, ../sass/_fullpage.scss */
.fp-slidesNav.top {
  top: 30px;
}

/* line 152, ../sass/_fullpage.scss */
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

/* line 158, ../sass/_fullpage.scss */
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 18px;
  height: 18px;
  margin: 4px 0;
  position: relative;
}

/* line 167, ../sass/_fullpage.scss */
.fp-slidesNav ul li {
  display: inline-block;
}

/* line 171, ../sass/_fullpage.scss */
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

/* line 182, ../sass/_fullpage.scss */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #F2206C;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
}

/* line 194, ../sass/_fullpage.scss */
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #fff;
}

/* line 199, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip {
  color: #931658;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}

/* line 214, ../sass/_fullpage.scss */
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

/* line 221, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip.right {
  right: 27px;
}

/* line 225, ../sass/_fullpage.scss */
#fp-nav ul li .fp-tooltip.left {
  left: 30px;
}

/* line 2, ../sass/_animate.scss */
.animated {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
  -webkit-animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
  animation-timing-function: cubic-bezier(0.055, 0.34, 0.09, 0.82);
}

/* line 9, ../sass/_animate.scss */
.cssanimations .fadeIn,
.cssanimations .fadeInUp,
.cssanimations .fadeInDown {
  opacity: 0;
}
/* line 14, ../sass/_animate.scss */
.cssanimations #submit-tweet {
  opacity: 0;
}
/* line 16, ../sass/_animate.scss */
.cssanimations #submit-tweet.flyOff {
  opacity: 1;
}

/* line 22, ../sass/_animate.scss */
.fadeIn {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 35, ../sass/_animate.scss */
.fadeInDown {
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 50, ../sass/_animate.scss */
.fadeInUp {
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 65, ../sass/_animate.scss */
.fadeOut {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 78, ../sass/_animate.scss */
.fadeOutDown {
  -moz-animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 35%, 0);
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
}
/* line 92, ../sass/_animate.scss */
.fadeOutUp {
  -moz-animation-name: fadeOutUp;
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, -35%, 0);
    -webkit-transform: translate3d(0, -35%, 0);
    transform: translate3d(0, -35%, 0);
  }
}
/* line 106, ../sass/_animate.scss */
.typed-cursor {
  -moz-animation-name: blink;
  -webkit-animation-name: blink;
  animation-name: blink;
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 1;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 125, ../sass/_animate.scss */
.spinFly {
  -moz-animation-name: spinFly;
  -webkit-animation-name: spinFly;
  animation-name: spinFly;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes spinFly {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinFly {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinFly {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/* line 144, ../sass/_animate.scss */
.flyOff {
  -moz-animation-name: flyOff;
  -webkit-animation-name: flyOff;
  animation-name: flyOff;
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  opacity: 1;
}

@-moz-keyframes flyOff {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
@-webkit-keyframes flyOff {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
@keyframes flyOff {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(1000%, 0, 0);
    -webkit-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0);
  }
}
/* line 1, ../sass/_content.scss */
html, body {
  background: #fff;
  color: #F2206C;
  font-family: "europa", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* line 15, ../sass/_content.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "europa", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
}

/* line 22, ../sass/_content.scss */
p {
  margin-bottom: 1.25em;
}

/* line 26, ../sass/_content.scss */
strong {
  font-weight: 700;
}

/* line 30, ../sass/_content.scss */
.wa-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 34, ../sass/_content.scss */
.page-border {
  position: fixed;
  background: #fff;
}
/* line 37, ../sass/_content.scss */
.page-border.top {
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  height: 2vw;
}
@media (min-width: 768px) {
  /* line 37, ../sass/_content.scss */
  .page-border.top {
    height: 1vw;
  }
}
@media (min-width: 1024px) {
  /* line 37, ../sass/_content.scss */
  .page-border.top {
    height: 1vw;
  }
}
@media (min-width: 1280px) {
  /* line 37, ../sass/_content.scss */
  .page-border.top {
    height: 1vw;
  }
}
/* line 53, ../sass/_content.scss */
.page-border.right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  width: 2vw;
}
@media (min-width: 768px) {
  /* line 53, ../sass/_content.scss */
  .page-border.right {
    width: 1vw;
  }
}
@media (min-width: 1024px) {
  /* line 53, ../sass/_content.scss */
  .page-border.right {
    width: 1vw;
  }
}
@media (min-width: 1280px) {
  /* line 53, ../sass/_content.scss */
  .page-border.right {
    width: 1vw;
  }
}
/* line 69, ../sass/_content.scss */
.page-border.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  height: 2vw;
}
@media (min-width: 768px) {
  /* line 69, ../sass/_content.scss */
  .page-border.bottom {
    height: 1vw;
  }
}
@media (min-width: 1024px) {
  /* line 69, ../sass/_content.scss */
  .page-border.bottom {
    height: 1vw;
  }
}
@media (min-width: 1280px) {
  /* line 69, ../sass/_content.scss */
  .page-border.bottom {
    height: 1vw;
  }
}
/* line 85, ../sass/_content.scss */
.page-border.left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  width: 2vw;
}
@media (min-width: 768px) {
  /* line 85, ../sass/_content.scss */
  .page-border.left {
    width: 1vw;
  }
}
@media (min-width: 1024px) {
  /* line 85, ../sass/_content.scss */
  .page-border.left {
    width: 1vw;
  }
}
@media (min-width: 1280px) {
  /* line 85, ../sass/_content.scss */
  .page-border.left {
    width: 1vw;
  }
}

/* line 103, ../sass/_content.scss */
.scroll-btn {
  background: #F2206C;
  color: #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 6vh;
  left: 50%;
  z-index: 999;
  margin-left: -12px;
  display: block;
  text-decoration: none;
  border-radius: 12px;
}
@media (min-width: 768px) {
  /* line 103, ../sass/_content.scss */
  .scroll-btn {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}
/* line 121, ../sass/_content.scss */
.scroll-btn:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #fff;
}
@media (min-width: 768px) {
  /* line 121, ../sass/_content.scss */
  .scroll-btn:before {
    left: 10px;
    top: 13px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 8px;
  }
}
/* line 140, ../sass/_content.scss */
.scroll-btn.up:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: none;
  border-bottom: 6px solid #fff;
}
@media (min-width: 768px) {
  /* line 140, ../sass/_content.scss */
  .scroll-btn.up:before {
    top: 11px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 8px;
  }
}

/* line 155, ../sass/_content.scss */
.section {
  background: #FFC5C5;
  text-align: center;
}
/* line 158, ../sass/_content.scss */
.section .page {
  width: 86vw;
  margin: auto;
}
@media (min-width: 768px) {
  /* line 158, ../sass/_content.scss */
  .section .page {
    padding-bottom: 60px;
  }
}

/* line 176, ../sass/_content.scss */
.heading {
  font-size: 24px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  /* line 176, ../sass/_content.scss */
  .heading {
    font-size: 52px;
  }
}
@media (min-width: 1024px) {
  /* line 176, ../sass/_content.scss */
  .heading {
    font-size: 62px;
  }
}
@media (min-width: 1280px) {
  /* line 176, ../sass/_content.scss */
  .heading {
    font-size: 62px;
  }
}
@media (min-width: 1440px) {
  /* line 176, ../sass/_content.scss */
  .heading {
    font-size: 72px;
  }
}

/* line 193, ../sass/_content.scss */
.sub-heading {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  /* line 193, ../sass/_content.scss */
  .sub-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  /* line 193, ../sass/_content.scss */
  .sub-heading {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  /* line 193, ../sass/_content.scss */
  .sub-heading {
    font-size: 30px;
  }
}
@media (min-width: 1440px) {
  /* line 193, ../sass/_content.scss */
  .sub-heading {
    font-size: 34px;
  }
}

/* line 213, ../sass/_content.scss */
.intro-page h3 {
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 768px) {
  /* line 213, ../sass/_content.scss */
  .intro-page h3 {
    font-size: 17px;
    font-weight: 300;
  }
}
@media (min-width: 1024px) {
  /* line 213, ../sass/_content.scss */
  .intro-page h3 {
    font-size: 22px;
  }
}
/* line 227, ../sass/_content.scss */
.intro-page .artwork {
  width: 80%;
  margin: 0 auto 16px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 227, ../sass/_content.scss */
  .intro-page .artwork {
    margin-bottom: 0;
    max-width: 70vw;
  }
}
@media (min-width: 1024px) {
  /* line 227, ../sass/_content.scss */
  .intro-page .artwork {
    max-width: 85vh;
  }
}
@media (min-width: 1280px) {
  /* line 227, ../sass/_content.scss */
  .intro-page .artwork {
    max-width: 100vh;
  }
}
/* line 244, ../sass/_content.scss */
.intro-page .artwork img {
  display: block;
  width: 100%;
  max-width: 65vh;
  margin: 0 auto;
  height: auto;
}
@media (min-width: 768px) {
  /* line 244, ../sass/_content.scss */
  .intro-page .artwork img {
    max-width: none;
  }
}

/* line 269, ../sass/_content.scss */
.send-page {
  text-align: center;
}
/* line 271, ../sass/_content.scss */
.send-page .page {
  width: 60%;
  max-width: 570px;
  position: relative;
  z-index: 9;
}
/* line 277, ../sass/_content.scss */
.send-page .form-control {
  position: relative;
  margin: 0 auto;
  clear: both;
}
/* line 281, ../sass/_content.scss */
.send-page .form-control #tweet-target,
.send-page .form-control #tweet-message {
  font-family: "europa", sans-serif;
  background: #fff;
  position: relative;
  z-index: 5;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 22px;
}
/* line 291, ../sass/_content.scss */
.send-page .form-control #tweet-target:focus,
.send-page .form-control #tweet-message:focus {
  outline: none;
}
/* line 295, ../sass/_content.scss */
.send-page .form-control #tweet-target {
  height: 70px;
  padding-left: 50px;
  margin-bottom: 2px;
}
/* line 300, ../sass/_content.scss */
.send-page .form-control .form-prepend {
  color: #F2206C;
  position: absolute;
  z-index: 6;
  top: 18px;
  left: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 2px 0 0 0;
}
/* line 314, ../sass/_content.scss */
.send-page #char-count {
  background: #F2206C;
  color: #fff;
  margin-top: 2px;
  padding: 5px;
}
/* line 320, ../sass/_content.scss */
.send-page #submit-tweet {
  font-family: "europa", sans-serif;
  color: #F2206C;
  font-size: 26px;
  font-weight: 400;
  background: transparent url(../img/arrow-170x32.svg) 50% 100% no-repeat;
  border: none;
  display: inline-block;
  width: 170px;
  padding: 0 0 38px;
  margin-top: 30px;
  text-decoration: none;
}
/* line 332, ../sass/_content.scss */
.send-page #submit-tweet:focus {
  outline: none;
}
/* line 336, ../sass/_content.scss */
.send-page .delay-time {
  display: none;
}

/* line 341, ../sass/_content.scss */
.tweet-hearts {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 347, ../sass/_content.scss */
.tweet-hearts .tweet {
  background: url(../img/heart-180x164.svg) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  width: 10%;
  height: 0;
  max-width: 130px;
  padding-bottom: 9%;
}
/* line 355, ../sass/_content.scss */
.tweet-hearts .tweet.a {
  top: 15%;
  left: 8%;
}
/* line 359, ../sass/_content.scss */
.tweet-hearts .tweet.b {
  top: 7%;
  left: 50%;
}
/* line 363, ../sass/_content.scss */
.tweet-hearts .tweet.c {
  top: 22%;
  left: 78%;
}
/* line 367, ../sass/_content.scss */
.tweet-hearts .tweet.d {
  bottom: 10%;
  left: 4%;
}
/* line 371, ../sass/_content.scss */
.tweet-hearts .tweet.e {
  bottom: 6%;
  left: 62%;
}
/* line 375, ../sass/_content.scss */
.tweet-hearts .tweet.f {
  top: 60%;
  left: 82%;
}
/* line 379, ../sass/_content.scss */
.tweet-hearts .tweet.g {
  top: 58%;
  left: 22%;
}

/* line 387, ../sass/_content.scss */
.share-page .page {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  /* line 387, ../sass/_content.scss */
  .share-page .page {
    padding-bottom: 24vh;
  }
}
/* line 402, ../sass/_content.scss */
.share-page .heading {
  background: #fff;
  display: inline-block;
  margin-bottom: 62px;
  padding: 15px 35px;
  position: relative;
}
/* line 408, ../sass/_content.scss */
.share-page .heading:before {
  position: absolute;
  z-index: 4;
  left: -38px;
  bottom: -59px;
  content: '';
  width: 71px;
  height: 90px;
  background: url(../img/banner-ribbon-left.svg) 0 0 no-repeat;
  background-size: contain;
}
/* line 419, ../sass/_content.scss */
.share-page .heading:after {
  position: absolute;
  z-index: 4;
  right: -38px;
  bottom: -59px;
  content: '';
  width: 71px;
  height: 90px;
  background: url(../img/banner-ribbon-right.svg) 0 0 no-repeat;
  background-size: contain;
}
/* line 431, ../sass/_content.scss */
.share-page .sub-heading {
  margin-bottom: 16px;
  line-height: 1.4;
}
/* line 435, ../sass/_content.scss */
.share-page .artwork {
  position: absolute;
  bottom: 1.5vw;
  left: 20%;
  right: 23%;
}
@media (min-width: 768px) {
  /* line 435, ../sass/_content.scss */
  .share-page .artwork {
    bottom: 0.5vh;
  }
}
@media (min-width: 1024px) {
  /* line 435, ../sass/_content.scss */
  .share-page .artwork {
    bottom: 1vh;
  }
}
/* line 452, ../sass/_content.scss */
.share-page .artwork img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 30vh;
}
@media (min-width: 1024px) {
  /* line 452, ../sass/_content.scss */
  .share-page .artwork img {
    max-height: 35vh;
  }
}
/* line 471, ../sass/_content.scss */
.share-page .share {
  font-size: 22px;
  font-weight: 300;
}
/* line 475, ../sass/_content.scss */
.share-page .share-btn {
  background: #F2206C;
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 4px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
@media (min-width: 1280px) {
  /* line 475, ../sass/_content.scss */
  .share-page .share-btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
}
/* line 498, ../sass/_content.scss */
.share-page .fb-btn {
  background: #F2206C url(../img/facebook-icon-24x24.svg) 50% 50% no-repeat;
  background-size: 18px 18px;
}
@media (min-width: 1280px) {
  /* line 498, ../sass/_content.scss */
  .share-page .fb-btn {
    background-size: 22px 22px;
  }
}
/* line 505, ../sass/_content.scss */
.share-page .tw-btn {
  background: #F2206C url(../img/twitter-icon-24x24.svg) 50% 50% no-repeat;
  background-size: 18px 18px;
}
@media (min-width: 1280px) {
  /* line 505, ../sass/_content.scss */
  .share-page .tw-btn {
    background-size: 22px 22px;
  }
}
/* line 512, ../sass/_content.scss */
.share-page .gp-btn {
  background: #F2206C url(../img/google-icon-24x24.svg) 50% 50% no-repeat;
  background-size: 18px 18px;
}
@media (min-width: 1280px) {
  /* line 512, ../sass/_content.scss */
  .share-page .gp-btn {
    background-size: 22px 22px;
  }
}

/* line 521, ../sass/_content.scss */
.info-page {
  text-align: center;
}
/* line 523, ../sass/_content.scss */
.info-page .copy {
  width: 90%;
  margin: auto;
  font-size: 12px;
}
@media (min-width: 768px) {
  /* line 523, ../sass/_content.scss */
  .info-page .copy {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  /* line 523, ../sass/_content.scss */
  .info-page .copy {
    width: 70%;
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  /* line 523, ../sass/_content.scss */
  .info-page .copy {
    font-size: 21px;
  }
}
/* line 539, ../sass/_content.scss */
.info-page .logos img {
  vertical-align: middle;
  margin: 0 20px 20px;
}
/* line 542, ../sass/_content.scss */
.info-page .logos img.us {
  max-width: 50px;
  height: auto;
}
@media (min-width: 1024px) {
  /* line 542, ../sass/_content.scss */
  .info-page .logos img.us {
    max-width: 100%;
  }
}
/* line 549, ../sass/_content.scss */
.info-page .logos img.savethechildren {
  max-width: 180px;
  height: auto;
}
@media (min-width: 1024px) {
  /* line 549, ../sass/_content.scss */
  .info-page .logos img.savethechildren {
    max-width: 100%;
  }
}

/* line 561, ../sass/_content.scss */
.slimScrollBar,
.slimScrollRail {
  border-radius: 0 !important;
  background: #040201 !important;
  opacity: 1 !important;
  top: 0 !important;
  right: 0 !important;
}

/* line 570, ../sass/_content.scss */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default, .odometer-pre {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

/* line 578, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

/* line 586, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}

/* line 594, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 604, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}

/* line 607, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}

/* line 611, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}

/* line 615, ../sass/_content.scss */
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}

/* line 618, ../sass/_content.scss */
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}

/* line 625, ../sass/_content.scss */
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 632, ../sass/_content.scss */
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 639, ../sass/_content.scss */
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 652, ../sass/_content.scss */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  line-height: 1.1em;
}
